body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.job-container {
  border: 3px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 0px 10px 5px;
  margin-bottom: 10px;
}

.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 30%;
}

.refer-btn {
  border: 0;
  background-color: #0b5ed7;
  color: #fff;
  border-radius: 10px;
  padding: 0px 15px;
  font-weight: bold;
}

.seemore-btn {
  border: 0;
  border-radius: 10px;
  padding: 0px 15px;
}

@media (min-width: 576px) {
  .location-align {
    text-align: left;
  }
}

@media (max-width: 575px) {
  .location-align {
    text-align: center;
  }
}
